
body {
  background-color: #a0a5a5;
}
a {
  color: inherit;
  text-decoration: none;
}
h2 {
  margin-top: 100px;
  font-size: 4em;
  text-align: center;
  color: #d5d5d5;
}
.main {
  max-width: 1600px;
  height: 600px;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:  center;
  background: lightgray;
  border-radius: 15px;
}
.main__listItems {
  width: 400px;
  margin: auto;
}
.main__itemDetails {
  width: 400px;
  margin: auto;
}