.header {
  max-width: 1600px;
  margin: auto;
  padding: 20px 0 20px 0;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  font-size: 26px;
  font-weight: 800;
  background: lightgray;
  border-radius: 15px;
}

.header__logo {
  margin: auto;
  width: 350px;
  text-align: center;
}

.header__listItems {
  margin: auto;
  width: 500px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0 100px 0 0;
}

.header__listItem {
  text-align: center;
}

.header__listItem img {
  transition: all 0.5s ease-out;
}

.header__listItem img:hover {
  transform: scale(1.2);
}

.header__basket {
  margin: auto;
  display: flex;
  align-items: center;
  width: 350px;
}

.header__basket img {
  transition: all 0.5s ease-out;
}

.header__basket img:hover{
  transform: scale(1.2);
}

.header__basketRef {
  display: flex;
  align-items: center;
}

.header__listItem {
  width: 150px;
}